*/

body {
  background-color: #212b31;
}
 head{
    background-color: lightyellow;  
    font-family: 'Lobster Two', cursive;
 }

 h1{
     font-family: 'Lobster Two', cursive;
     font-size: large;
     display: inline-block;
 }

p{

  color: black;
  font-family: 'Muli', sans-serif;

}

.pHead{
  color:white;

}

/* Homepage  */
.hithere{
  padding-top: 8cm;
  text-shadow: 2px 2px red;
  font-size: 80px;
  float: left;
  margin-left: 1cm;
  
}

.hitheretext {
    display: block;
    padding-left: 3cm;  
    text-align: justify;
    white-space: wrap;
}

#homepagephoto {
  margin-top: -6cm;
  margin-left: 1cm;
}


/* Navigation Bar  */

.zoom {
  padding: 20px;
  transition: transform .2s;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5);
}
/* Portfolio Page */

#portfolio{
  background-color:white;
  padding-left: 5cm;
  padding-bottom: 1cm;
  padding-top: 1cm;
}


.portfolioTitle {
  padding-left: 2.5cm;
  padding-top: 4cm;
  align-self: center;
}

#portfolioText {
  padding-left: 8cm;
}

/* Contact Me Page */
#contactme{
  background-color: white;
  padding-bottom: 1cm;
  padding-top: 1cm;
}

.employeeMgmt{
  margin-left: 1.8cm;
}


/* About Me Page */
.aboutmetitle {
  padding-top: 5cm;
  padding-left: 4.5cm;
}

.aboutmetext {
  margin: 10px;
}

.aboutmephoto {
  border-radius:50%; 
  margin-left: 5px;
  margin-right: 5px; 
}

#aboutmephoto2 {
  margin-left: 350px;
}

#aboutme{
  background-color: white;
  padding-bottom: 1cm;
  padding-top: 1cm;
  
}



@media (min-width: 600px) {

  h1{
    font-family: 'Lobster Two', cursive;
    font-size: large;
    display: inline-block;
    margin: 300px;
    padding: 10px;
    font-size: auto;
}

.cardHeight {
  min-height: 410px;
}
p{
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: auto;

}

.pHead{
  color:white;  
  font-size:auto;
}

.aboutMeSection {
  padding-top: 1cm;
  padding-bottom: 1cm;
  background-color: blue;
}


