*/
body {
    background-color:lightgray;
}
 head{
    background-color: lightyellow;  
    font-family: 'Lobster Two', cursive;
 }

 h1{
     font-family: 'Lobster Two', cursive;
     font-size: large;
     display: inline-block;
     margin: 60px;
     padding: 20px;
 }


p{

  color: black;
  font-family: 'Muli', sans-serif;
}

.pHead{
  color:white;
}

#aboutme{
  background-color: whitesmoke;
  
}

.background2 {

  background-color: gray;
}

@media only screen and (max-width: 600px) {
  #aboutme {
    background-color: lightblue;
  }
}


